# List in python

## A list is a built-in data structure in Python that allows storing multiple values in a single variable. Lists are ordered, mutable, and can contain elements of different data types.

## Each element in a list is assigned an index value, starting from 0, which allows easy access and manipulation of data.

## Key characteristics of a list:

#### - Supports multiple data types (int, float, string, boolean, objects, etc.)

#### - Maintains insertion order

#### - Allows duplicate values

#### - Is mutable (data can be modified after creation)

## Lists support basic data manipulation operations commonly referred to as CRUD operations:

#### - Create – Add new elements using methods like append() or insert()

#### - Read – Access elements using indexing or slicing

#### - Update – Modify elements using their index

#### - Delete – Remove elements using remove(), pop(), or del

Lists are widely used in Python for managing collections of data efficiently.

In [1]:
a = list()

In [2]:
type(a)

list

In [3]:
lists = [1,2,3,4,5]

In [4]:
print (lists)

[1, 2, 3, 4, 5]

In [6]:
list_variable = ["Ajay Kumar Sharma", 25, 7.5, True]

In [7]:
print(list_variable)

['Ajay Kumar Sharma', 25, 7.5, True]

In [9]:
## By using the data structures, we can apply the crud operations like inserting the data, deleting updating and reading the data

lists = ["Ajay",1,2,3,4,6,9,6.2,True]

In [10]:
print (lists)

['Ajay', 1, 2, 3, 4, 6, 9, 6.2, True]

### Lists are ordered and are mutable data structure

# List Indexing

In [11]:
## By using the proper indexing value we can retrieve the data from our lists.
## Indexing in List ----> 0 to length -1

print (lists[0]) ## This will print the first element of the list which is "Ajay"

Ajay

In [13]:
print (len(lists)) ## This will print the length of the list which is 9

9

In [16]:
## length of a data structure is going to be the total number of elements present in that data structure.

print (lists[8]) ## This will print the last element of the list which is True

True

In [28]:
lists = ["Mango", "Apple", "Banana", "Grapes", "Pineapple", 
         "Watermelon", "Strawberry", "Blueberry", "Kiwi"]

In [29]:
print(lists[8])  # Print the current value at index 8

Kiwi

In [31]:
print (lists[2]) # This will print the value at index 2 which is "Banana"

Banana

In [32]:
# Negative Indexing in List------> In any data structure we can access the data using Negative indexing as well. Negative indexing starts from -1 to -length of the data structure.
print (lists[-1]) ## This will print the last element of the list which is "Kiwi"

Kiwi

In [33]:
print (lists[-2]) ## This will print the second last element of the list which is "Blueberry"

Blueberry

In [35]:
# For having the access for all of the values you are going to store inside the list , you can use 
#     : 
print (lists[:])

['Mango', 'Apple', 'Banana', 'Grapes', 'Pineapple', 'Watermelon', 'Strawberry', 'Blueberry', 'Kiwi']

## List Slicing

#### List slicing can help us out with retriving specific data points from list

In [37]:
lists[1:4] ## This will print the values from index 1 to index 3 which are "Apple", "Banana", "Grapes"

['Apple', 'Banana', 'Grapes']

In [38]:
print (lists[1:3]) ## This will print the values from index 1 to index 2 which are "Apple", "Banana"

['Apple', 'Banana']

In [39]:
# Reverse ----> Kiwi, Blueberry, Strawberry, Watermelon, Pineapple, Grapes, Banana, Apple, Mango
print (lists[::-1]) ## This will print the list in reverse order.

['Kiwi', 'Blueberry', 'Strawberry', 'Watermelon', 'Pineapple', 'Grapes', 'Banana', 'Apple', 'Mango']

In [40]:
vegitables = ["Tomato", "Potato", "Onion", "Carrot", "Cabbage", "Spinach"]

In [42]:
vegitables[0] ## This will print the first element of the list which is "Tomato"

'Tomato'

In [45]:
vegitables[-1] ## This will print the last element of the list which is "Spinach"

'Spinach'

In [47]:
vegitables[1:]

['Potato', 'Onion', 'Carrot', 'Cabbage', 'Spinach']

## List are Mutable

#### By mentioning that Lists are mutable  we mew mean to say that we can replace the values present at a specific location inside our list

In [48]:
lists[2] = "Apple" ## This will update the value at index 2 from "Banana" to "Apple"

In [49]:
lists

['Mango',
 'Apple',
 'Apple',
 'Grapes',
 'Pineapple',
 'Watermelon',
 'Strawberry',
 'Blueberry',
 'Kiwi']

In [50]:
lists[4] = "Mango" ## This will update the value at index 4 from "Pineapple" to "Mango"

In [51]:
lists

['Mango',
 'Apple',
 'Apple',
 'Grapes',
 'Mango',
 'Watermelon',
 'Strawberry',
 'Blueberry',
 'Kiwi']

#### By using Looping statements we can iterate through List as well

In [52]:
for item in lists:
    print (item)

Mango
Apple
Apple
Grapes
Mango
Watermelon
Strawberry
Blueberry
Kiwi

In [53]:
list_item = [1,5,7,8, "Ajay", 2.7, True, "Sharma", "Apple"]

In [54]:
for i in list_item:
    print (i)

1
5
7
8
Ajay
2.7
True
Sharma
Apple

In [55]:
list_item [2 :] ## This will print the values from index 2 to the end of the list which are 7,8, "Ajay", 2.7, True, "Sharma", "Apple"

[7, 8, 'Ajay', 2.7, True, 'Sharma', 'Apple']

In [59]:
list_item[::2] ## This will print the values from index 0 to the end of the list with a step of 2 which are 1,7, "Ajay", True, "Apple"

[1, 7, 'Ajay', True, 'Apple']

In [60]:
list_item[::-2] ## This will print the values from index 0 to the end of the list in reverse order with a step of 2 which are "Apple", "Ajay", 1

['Apple', True, 'Ajay', 7, 1]

## List Methods

In [80]:
### append() method is used to add the element at the end of the list.

list_items = [1,2,31,4,5,45,9,12,67]

In [81]:
list_items.append(100) ## This will add the value 100 at the end of the list

In [82]:
list_items

[1, 2, 31, 4, 5, 45, 9, 12, 67, 100]

In [83]:
### Insert() method is used to add the element at the specific index of the list.
list_items.insert(2, 1000) ## This will add the value 1000 at index 2 of the list

In [84]:
list_items

[1, 2, 1000, 31, 4, 5, 45, 9, 12, 67, 100]

In [85]:
### remove() method is used to remove the element from the list.
list_items.remove(1000) ## This will remove the value 1000 from the list

In [86]:
list_items

[1, 2, 31, 4, 5, 45, 9, 12, 67, 100]

In [88]:
### pop() method is used to remove the element from the list based on the index value.
list_items.pop(2) ## This will remove the value at index 2 from the list

4

In [89]:
list_items

[1, 2, 5, 45, 9, 12, 67, 100]

In [90]:
### index() method is used to find the index of the first occurrence of the element in the list.
list_items.index(9) ## This will return the index of the first occurrence of the value 9 in the list which is 5

4

In [91]:
list_items

[1, 2, 5, 45, 9, 12, 67, 100]

In [92]:
list_items.append(100) ## This will add the value 100 at the end of the list
list_items.append(100) ## This will add the value 100 at the end of the list
list_items.append(100) ## This will add the value 100 at the end of the list

In [93]:
list_items

[1, 2, 5, 45, 9, 12, 67, 100, 100, 100, 100]

In [94]:
### count() method is used to count the number of occurrences of the element in the list.
list_items.count(100) ## This will return the count of the value 100 in the

4

In [95]:
### sort() method is used to sort the elements of the list in ascending order.
list_items.sort() ## This will sort the list in ascending order

In [98]:
list_items

[1, 2, 5, 9, 12, 45, 67, 100, 100, 100, 100]

In [99]:
### reverse() method is used to reverse the order of the elements in the list.
list_items.reverse() ## This will reverse the order of the list

In [100]:
list_items

[100, 100, 100, 100, 67, 45, 12, 9, 5, 2, 1]

In [101]:
list_items[::-1] ## This will print the list in reverse order

[1, 2, 5, 9, 12, 45, 67, 100, 100, 100, 100]

In [102]:
### clear() method is used to remove all the elements from the list.
list_items.clear() ## This will remove all the elements from the list

In [103]:
list_items

[]

## List Methods

#### 1. append()---> insert the value at the end of the list

#### 2. insert()---> insert the value at a specific index location inside our list

#### 3. remove()---> remove the value from our list that we are going to pass inside it

#### 4. pop()------> remove the value from the list at a specific index location

#### 5. index()----> it provides the index of the value that we are going to pass inside it if that value is present inside that list

#### 6. sort()-----> sort() is going to help us out with sorting the values ina ascending manner

#### 7. reverse()--> it can reverse the values present inside our list i.e., value at last index will bve at first index.
#### 8. count()----> it count the number of occurrence of a specif value that we are going to pass inside our list and it returns that count of occurrence

#### 9. Clear()----> for removing all of the values that we are storing inside our list

In [104]:
list_items

[]

In [105]:
Numbers = [11, 24, 12, 45, 9, 67, 34, 56]

## enumerate () ---> helps us with getting the index value along with the actual value in a combination that we are storing inside the list

In [106]:
for indx_value , value in enumerate(Numbers):
    print (f"Index: {indx_value}, Value: {value}")

Index: 0, Value: 11
Index: 1, Value: 24
Index: 2, Value: 12
Index: 3, Value: 45
Index: 4, Value: 9
Index: 5, Value: 67
Index: 6, Value: 34
Index: 7, Value: 56

## len()

#### length of the list that means we will get the value as the total number of items we are storing inside the list

In [107]:
Numbers

[11, 24, 12, 45, 9, 67, 34, 56]

In [109]:
length = len(Numbers)
print (length)

8

## List Comprehension

#### List comprehension is a concise way to create lists. It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. The expression can be anything, meaning you can put in all kinds of objects in lists.
#### List comprehension is generally more compact and faster than normal functions and loops for creating lists.

## Syntax for List comprehension is as follows:

### [expression for item in iterable if condition]

### expression ---> what we want to print or what we want to store in the new list
### item ---> the variable which is going to take the value from the iterable one by one
### if condition ---> the condition which is going to be applied on the item variable to check whether the item variable is going to be included in the new list or not.

In [113]:
# i need to store the values from 0 to 50 in a list
list_item = [x for x in range(1, 51)]

In [114]:
list_item

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [117]:
list_square = [x**2 for x in range(1, 11)] # This will create a list of squares of numbers from 1 to 10
list_square # This will print the list of squares of numbers from 1 to 10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [128]:
# 1. if i am only interested in looking over the square values which are even
list_square_even = [x for x in list_square if x % 2 == 0] # This will create a list of even squares from the list of squares
list_square_even # This will print the list of even squares from the list of squares

[4, 16, 36, 64, 100]

In [123]:
# 2. even numbers from 1 to 20
even_numbers = [x for x in range(1, 21) if x % 2 == 0] # This will create a list of even numbers from 1 to 20
even_numbers # This will print the list of even numbers from 1 to 20

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [124]:

# 3. odd numbers from 1 to 20
odd_numbers = [x for x in range(1, 21) if x % 2 != 0] # This will create a list of odd numbers from 1 to 20
odd_numbers # This will print the list of odd numbers from 1 to 20

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [125]:
# 4. list of cubes of numbers from 1 to 10
list_cubes = [x**3 for x in range(1, 11)] # This will create a list of cubes of numbers from 1 to 10
list_cubes # This will print the list of cubes of numbers from 1 to 10

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [127]:

# 5. list of odd cubes from 1 to 10
odd_cubes = [x**3 for x in range(1, 11) if x % 2 != 0] # This will create a list of odd cubes from 1 to 10
odd_cubes # This will print the list of odd cubes from 1 to 10

[1, 27, 125, 343, 729]

In [129]:
# 6. list of square values which are even
even_numbers = [x**2 for x in range(1,19) if x%2==0]
even_numbers

[4, 16, 36, 64, 100, 144, 196, 256, 324]

## Functions in list comprehension as well

In [133]:
list_items = ["Ajay", "Kumar", "Sharma", "Apple", "Car", "Mango", "Banana", "Grapes", "Pineapple"] # This will create a list of strings
length_list = [len(word) for word in list_items] # This will create a list of the length of each word in the list of strings
length_list # This will print the list of the length of each word in the list of strings

[4, 5, 6, 5, 3, 5, 6, 6, 9]

## Nested List comprehension

### we will be having the combination of multiple list in our single list itself

In [135]:
list_items

['Ajay',
 'Kumar',
 'Sharma',
 'Apple',
 'Car',
 'Mango',
 'Banana',
 'Grapes',
 'Pineapple']

In [136]:
length_list

[4, 5, 6, 5, 3, 5, 6, 6, 9]

In [137]:
pair = [(x,y) for x in list_items for y in length_list] ## This will create a list of tuples where each tuple contains a word from the list of strings and its corresponding length from the list of lengths
pair # This will print the list of tuples where each tuple contains a word from the list of strings and its corresponding length from the list of lengths

[('Ajay', 4),
 ('Ajay', 5),
 ('Ajay', 6),
 ('Ajay', 5),
 ('Ajay', 3),
 ('Ajay', 5),
 ('Ajay', 6),
 ('Ajay', 6),
 ('Ajay', 9),
 ('Kumar', 4),
 ('Kumar', 5),
 ('Kumar', 6),
 ('Kumar', 5),
 ('Kumar', 3),
 ('Kumar', 5),
 ('Kumar', 6),
 ('Kumar', 6),
 ('Kumar', 9),
 ('Sharma', 4),
 ('Sharma', 5),
 ('Sharma', 6),
 ('Sharma', 5),
 ('Sharma', 3),
 ('Sharma', 5),
 ('Sharma', 6),
 ('Sharma', 6),
 ('Sharma', 9),
 ('Apple', 4),
 ('Apple', 5),
 ('Apple', 6),
 ('Apple', 5),
 ('Apple', 3),
 ('Apple', 5),
 ('Apple', 6),
 ('Apple', 6),
 ('Apple', 9),
 ('Car', 4),
 ('Car', 5),
 ('Car', 6),
 ('Car', 5),
 ('Car', 3),
 ('Car', 5),
 ('Car', 6),
 ('Car', 6),
 ('Car', 9),
 ('Mango', 4),
 ('Mango', 5),
 ('Mango', 6),
 ('Mango', 5),
 ('Mango', 3),
 ('Mango', 5),
 ('Mango', 6),
 ('Mango', 6),
 ('Mango', 9),
 ('Banana', 4),
 ('Banana', 5),
 ('Banana', 6),
 ('Banana', 5),
 ('Banana', 3),
 ('Banana', 5),
 ('Banana', 6),
 ('Banana', 6),
 ('Banana', 9),
 ('Grapes', 4),
 ('Grapes', 5),
 ('Grapes', 6),
 ('Grapes', 5),
 ('Grapes', 3),
 ('Grapes', 5),
 ('Grapes', 6),
 ('Grapes', 6),
 ('Grapes', 9),
 ('Pineapple', 4),
 ('Pineapple', 5),
 ('Pineapple', 6),
 ('Pineapple', 5),
 ('Pineapple', 3),
 ('Pineapple', 5),
 ('Pineapple', 6),
 ('Pineapple', 6),
 ('Pineapple', 9)]

In [139]:
list_1 = [1,3,4]
list_2 = [2,6,9]

paired_list = [(x,y) for x in list_1 for y in list_2] ## This will create a list of tuples where each tuple contains a number from the first list and a number from the second list
paired_list # This will print the list of tuples where each tuple contains a number from the first list and a number from the second list

[(1, 2), (1, 6), (1, 9), (3, 2), (3, 6), (3, 9), (4, 2), (4, 6), (4, 9)]