# Variables

## Variables are the elements in python that can be used for storing data into it or values into it  or they can referred as containers as well.
## variables as per its name, data can vary  that we are going to store into it and once we have declared a variable we can scary the value stored in it.

In [1]:
age = 23
Name = "Ajay"
Height = 5.7
is_true = True

In [2]:
age

23

In [3]:
Height

5.7

In [4]:
Name

'Ajay'

# print()

## print() ---> print function is being used to represent the value that we are going to pass inside it.

In [6]:
print(age)

23

In [7]:
print(Name)

Ajay

In [8]:
print("Name is: ", Name)

Name is:  Ajay

In [9]:
print("Age is: ", age)

Age is:  23

## Comment
## Comment is the statement in a program that we dont want the interpreter to execute 
## Interpreter  ---> execute the code line by line in python language
## Compiler --> executes the code completely

In [10]:
# Hello i am explaining about how to write comments in python programming language. Comments are used to explain the code and make it more readable. In python, we can write comments using the # symbol. Anything written after the # symbol is considered a comment and is ignored by the python interpreter. Comments are very useful for documenting your code and making it easier for others to understand.

In [12]:
# hello everything

In [15]:
'''
This is a multi-line comment in python. We can write multiple lines of comments using triple quotes'''

'\nThis is a multi-line comment in python. We can write multiple lines of comments using triple quotes'

## Variables Naming Convention

In [17]:
''' Variables names must be Descriptive : 
    Age = 23
    Name 'Ajay'
    '''

" Variables names must be Descriptive : \n    Age = 23\n    Name 'Ajay'\n    "

In [18]:
''' They must start with a letter or an underscore and contain letters, numbers and underscores.'''

' They must start with a letter or an underscore and contain letters, numbers and underscores.'

In [19]:
1name = "Ajay"

SyntaxError: invalid decimal literal (439783609.py, line 1)

In [20]:
name1 = "Ajay"

In [21]:
_name = "Ajay"

In [24]:
''' 
variable  are also case sensitive. 
'''

' \nvariable  are also case sensitive. \n'

In [29]:
name  = "Ajay"
Name = "Ajay"
name == Name

True

In [30]:
Age = 23
Name= "Ajay"
Height = 5.7
is_true = True

In [31]:
print(type(age))

<class 'int'>

In [32]:
print(Age)

23

In [33]:
Age = 45

In [34]:
print(Age)

45

In [35]:
Age = 23
print(type(age))

<class 'int'>

In [39]:
Age = str(Age)
print(Age)
print(type(Age))

23
<class 'str'>

In [40]:
Name = "Ajay"
Name = int(Name)

ValueError: invalid literal for int() with base 10: 'Ajay'

In [41]:
'''
Every type casting is not possible 
int --> str is possible
str --> int is not possible
'''

'\nEvery type casting is not possible \nint --> str is possible\nstr --> int is not possible\n'

# input()
## input() can take the input from the user side and then can store that into a variable

In [47]:
Name = input("Enter your name: ")

In [48]:
print(Name)

Ajay Sharma

## Input function only takes the input in a string format until and ubnless we are not going to explicitly take the input in integer  or other format

In [49]:
Age = input("Enter your age: ")

In [51]:
print(Age)
print(type(Age))

28
<class 'str'>

In [53]:
Age = int(input("Enter your age: "))
print(Age)
print(type(Age))

23
<class 'int'>

In [54]:
Age =float(input("Enter your age: "))
print(Age)
print(type(Age))

28.0
<class 'float'>

In [56]:
Value =bool(input("Enter your age: "))
print(Value)
print(type(Value))

True
<class 'bool'>

In [57]:
Value_user =bool(input("Enter your age: "))

In [58]:
Value_user

True

In [61]:
## building a Simple Calculator

value_1 = int(input("Enter first value: "))
value_2 = int(input("Enter second value: "))
print("first value from user is: ", value_1)
print("second value from user is: ", value_2)
print("The addition of two values is: ", value_1 + value_2)
print("The subtraction of two values is: ", value_1 - value_2)
print("The multiplication of two values is: ", value_1 * value_2)
print("The division of two values is: ", value_1 / value_2)

first value from user is:  10
second value from user is:  15
The addition of two values is:  25
The subtraction of two values is:  -5
The multiplication of two values is:  150
The division of two values is:  0.6666666666666666